/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 oct. 2022, 14:45:39
    Author     : pierre.PELLEROT
*/

#menu {
    position:fixed;
    top:0px;
    left:5px;
    background-color: greenyellow;
    width: 100%;
    height: 135px;
    font-family: verdana;
    font-size: 15px;
   
    
    
    
     
}

#menu>h1 {
    margin-top:5px;
    color:red;
    font-size: 44px;
    font-family:calibri;
    text-align:center;
    text-decoration: underline;
    
    
}
#menu>table {
    margin:auto ;
    border-radius: 5px;
} 
#menu>table>tr {
   border: 2px solid red;
}
#page_actuelle{
   border: 2px solid red;
    border-radius: 5px;
    width: 20%;
    text-align:center;  
    background-color:red;
}
#autres_pages{
    border: 2px solid red;
    border-radius: 5px;
    width: 20%;
    text-align:center;  
   
}

body{
    background-color: blue;
    color:black;
}
div.contenu {
   
   position:static;
   margin-top:200px;
   margin-bottom:20px;
   margin-left:auto;
   margin-right:auto;
   width:75%;
}
table.contenu {
    
    
    
    border: 5px solid black;
    width:80%;
    margin-left:auto; 
    margin-right:auto;
    border-radius: 20px;
    border-collapse:collapse;
 }
th.contenu {
   border-radius: 10px;
    border:3px solid black;
    background-color:white;
    border-collapse:collapse;
 }

td.contenu {
   
    border: 2px solid black;
    
    background-color:white;
    text-align:center;
 }
 a{
    color:blue;
    text-align:center;
    text-decoration: underline;
 }
 #entete{
    text-align:center;
    width:100%;
    background-color:white; 
    color:red; 
    border: 5px solid black; 
    font-size: 30px;
    
 }
 
 
 #date{
    text-align:center;
    width:100%;
    background-color:#ff00ff; 
    font-size:20px;
    color: white;
    
 }
 #final{
    border: 2px solid black;
    padding: 5px;
    background-color:white;
    text-align:center;
    
 }